@{
    ViewData["Title"] = "Політика конфіденційності";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>Ваша конфіденційність важлива для нас. Ця заява про конфіденційність надає інформацію про персональні дані, які збирає Веб-сайт Аукціону, та способи, якими ми використовуємо ці персональні дані.</p>

    <h2>Збір персональної інформації</h2>
    <p>Веб-сайт Аукціону може збирати та використовувати наступні види персональної інформації:</p>
    <ul>
        <li>Інформація про ваше використання цього веб-сайту</li>
        <li>Інформація, яку ви надаєте з метою реєстрації на веб-сайті</li>
        <li>Інформація про операції, які здійснюються через цей веб-сайт</li>
        <li>Будь-яка інша інформація, яку ви надсилаєте на Веб-сайт Аукціону</li>
    </ul>

    <h2>Використання персональної інформації</h2>
    <p>Веб-сайт Аукціону може використовувати вашу персональну інформацію для:</p>
    <ul>
        <li>Адміністрування цього веб-сайту</li>
        <li>Персоналізації веб-сайту для вас</li>
        <li>Забезпечення вашого доступу до послуг веб-сайту та їх використання</li>
        <li>Надсилання вам маркетингових повідомлень</li>
    </ul>

    <h2>Забезпечення безпеки ваших даних</h2>
    <p>Веб-сайт Аукціону вживатиме розумних технічних та організаційних заходів для запобігання втраті, неправильному використанню або зміні вашої персональної інформації.</p>

    <p>Якщо у вас є будь-які запитання щодо цієї політики конфіденційності або щодо обробки ваших персональних даних, будь ласка, пишіть нам на електронну пошту: privacy@auctionwebsite.com.</p>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    h2 {
        margin-top: 20px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>

